/* --------------- Keyframe Animation --------------- */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}


@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translate(-50%, 100%);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

@keyframes type {
    0% {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #2C6BB2, 0 0 20px #2C6BB2;
        opacity: 0;
        width: 0ch;
    }

    50% {
        opacity: 1;
        width: 22ch;
    }

    100% {
        text-shadow: 0 0 8px #fff, 0 0 13px #3F99FD, 0 0 18px #3F99FD, 0 0 23px #3F99FD;
        opacity: 1;
    }
}


@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-20);
    }

    50% {
        transform: translateY(-40);
    }

    75% {
        transform: translateY(-20);
    }

    100% {
        transform: translateY(0);
    }
}


@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #2C6BB2, 0 0 40px #2C6BB2;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #3F99FD, 0 0 40px #3F99FD, 0 0 50px #3F99FD;
    }
}


@keyframes glow_nav {
    from {
        text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #2C6BB2, 0 0 25px #2C6BB2;
    }

    to {
        text-shadow: 0 0 15px #fff, 0 0 20px #3F99FD, 0 0 25px #3F99FD, 0 0 30px #3F99FD;
    }
}


@keyframes bounce_up_down {
    0%, 100%, 20%, 50%, 80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    60% {
        -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}


@keyframes fadeLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeDown {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeUp_modalbox {
    0% {
        opacity: 0;
        transform: translate(-50%, 0);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}


@keyframes pulse_in {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes pulse_out {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes pulse_rotation {
    0% {
        transform: scale(1);
        transform: rotate(5deg);
    }

    50% {
        transform: scale(1.1);
        transform: rotate(-5deg);
    }

    100% {
        transform: scale(1);
        transform: rotate(5deg);
    }
}

@keyframes anim_opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



#body {
    background-color: #1A1A1A;
}

label {
    padding-bottom: 10px;
}

small {
    color: #E9E9E9;
}


/* Mocal Box */

.modalShadowReceipt {
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modalReceipt {
    background-color: #fefefe;
    margin: auto;
    padding: 5px;
    width: 50%;
    text-align: center;
    border-radius: 15px;
    border: 1px solid #888;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: fadeUp_modalbox;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.close {
    font-size: 28px;
    font-weight: bold;
    color: #aaaaaa;
    float: right;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
    color: #000;
}


.modalShadowPayment {
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}


.modalPayment {
    background-color: #239B56;
    margin: auto;
    padding: 10px;
    width: 30%;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -8%);
    animation-name: fadeUp_modalbox;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}


/***** Game Library *****/
.container {
    background-color: #1a1a1a;
}


.colGame {
    padding: 15px;
}

.cardGame {
    box-shadow: 3px 3px rgba(164, 127, 159, 1);
    transition: all .5s;
    margin: auto;
}

.cardGame:hover {
    box-shadow: 6px 6px rgba(164, 127, 159, 1);
    transform: scale(1.02);
}

.colButton {
    padding: 5px 5px 5px 5px;
}

.cardImgGame {
    border-radius: 5px 5px 5px 5px;
}


/***** Review *****/
.modalShadowReviews {
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modalReviews {
    background-color: #fefefe;
    margin: auto;
    padding: 5px;
    width: 50%;
    text-align: center;
    border-radius: 15px;
    border: 1px solid #888;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: fadeUp_modalbox;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.close {
    font-size: 28px;
    font-weight: bold;
    color: #aaaaaa;
    float: right;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
    color: #000;
}

.btnCloseReview {
    border: 0px;
    background-color: white;
}



